@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
0-600px:        phone
600-900ox:      tablet portrait
900-1200px:     tablet landscape
1200-1800px:    normal stle
1800px +:       Big desktop
*/

/*
$breakpoint argument choices
- phone
- t-portrait
- t-landscape
- big-desktop
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media(max-width: 600px) { @content; }      
    }

    @if $breakpoint == tab_port {
        @media(max-width: 900px) { @content; }      
    }

    @if $breakpoint == tab_land {
        @media(max-width: 1200px) { @content; }      
    }

    @if $breakpoint == big_desktop {
        @media(min-width: 1800px) { @content; }      
    }
}