*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    /* Change box model so border and padding are not added */
    box-sizing: inherit;
}

html {
    // Defines what 1rem is
    font-size: 62.5%; //1rem -> 10px

    @include respond(tab_land) { // width < 1200?
        // For 9px, 9 / 16 = 56.25
        font-size: 56.25%;
    }
    
    @include respond(tab_port) { //width < 900?
        // For 8px -> 1rem = 8px, 8/16 = 50%
        font-size: 50%; 
    }

    // @include respond(phone) { //width < 600?
    //     // For 6px -> 1rem = 8px, 8/16 = 50%
    //     font-size: 37.5%; 
    // }
    
    @include respond(big_desktop) {
        // For 1rem = 12px 12/16
        font-size: 75%;
    }
}

body {
    box-sizing: border-box;
}
